:root {
  --bg-dark: #2e3440;
  --fg-light: #eceff4;
  --bg-light: #eceff4;
  --orange: #d08770;
  --green: #a3be8c;
  --yellow: #ebcb8b;
  --purple: #b48ead;
  --teal: #8fbcbb;
  --light-blue: #81a1c1;
  --dark-blue: #5e81ac;
  --calendar-color: #29323f;
  --bright-yellow: #fcee6d;
}
